@mixin font-poppins($weight: 400, $style: normal) {
    font-family: 'Poppins', sans-serif;
    font-weight: $weight;
    font-style: $style;
  }
  
  @mixin font-oswald($weight: 400) {
    font-family: 'Oswald', sans-serif;
    font-weight: $weight;
  }
  
